**/.env

gitea/data
gotify/data/
homepage/config/
jellyfin/config/
nextcloud/apps
nextcloud/config
nextcloud/db
pihole/config
pihole/dnsmasq
pihole/pihole.log
ssl/*
traefik/certs
traefik/config
vaultwarden/data
codeserver/config/*
!codeserver/config/code-server/
codeserver/config/code-server/*
!codeserver/config/code-server/config.yml

**.code-workspace