**/.env

bookstack/config
bookstack/db
gitea/data
gotify/data/
homepage/config/
jellyfin/config/
monitoring/prometheus/prometheus.yml
nextcloud/apps
nextcloud/config
nextcloud/db
pihole/config
pihole/dnsmasq
pihole/pihole.log
ssl/*
traefik/certs
traefik/config
vaultwarden/data
**.code-workspace
