**/.env

gitea/data
gotify/data/
grist/config/
homepage/config/
jellyfin/config/
nextcloud/apps
nextcloud/config
nextcloud/db
ssl/*
technitiumDNS/config/
traefik/certs
traefik/config
vaultwarden/data
codeserver/config/*
!codeserver/config/code-server/
codeserver/config/code-server/*
!codeserver/config/code-server/config.yml

**.code-workspace
